.header-bg {
    background-image:url(../img/Group\ 72.png);
    background-position: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 1366px;
    width: 100%;
    height: 324px;
    margin-bottom: 15px;
}
.header-nav {
    max-width: 1088px;
    width:80%;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.header-nav h2 {
    font-size: 14px;
    color: #ffff;
}
.logo1 {
    font-family: 'Poppins', sans-serif;
    transition: 1s ease;
}
.logo1:hover {
    font-size: 22px;
    color: #DC4E41;
    transform: scale(1.2);
    transform: scale(1.2);
    transform: scale(1.2);
}
.ul-iteam {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ul-iteam li {
    color:#DC4E41;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.ul-iteam li:hover{
      transform: scale(1.5);
      text-shadow: none;
}
.ul-iteam  a {
    font-size: 12px;
    color: #ffff;
    font-family: 'Poppins', sans-serif;
}
.ul-iteam li a:hover{
    color:#DC4E41;
}
.li-iteam {
    margin-right: 49px;
    font-size: 12px;
}
.li-iteam :last-child {
    margin-right:0 ;
}
.bar-box {
    display: none;
}
.about-box {
    max-width: 215px;
    width: 100%;
    height: 117px;
    transform: translate(105px, 96px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column; 
}
.about-box ul {
    display: flex;
    justify-content: center;
    margin-top: 14px;
}
.about-box h3 {
    font-family: 'Poppins', sans-serif;
}
.about-box ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center; 
    margin-right: 14.5px;
}
.about-box ul li a {
    color: #ffff;
    font-family: 'Poppins', sans-serif;
}
.about-box  h3 {
    color: #ffff;
    font-size: 42px;
}
.drob-box {
    max-width: 14px;
    height: 19px;
    margin-right: 14.5px;
    color: #FFFF;
}
/* section 1 start */
.section-1 {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}
.main-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto
}
 .text-box {
    max-width: 444px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.text-box h2 {
    font-size: 14px;
    color: #5863F8;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
}
.text-box h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    margin-bottom: 10px;
}
.text-box p { 
    font-size: 16px;
    margin-bottom: 10px;
}
.read-more {
    max-width: 184px;
    width: 100%;
    height: 50px;
    padding-top: 15px;
    margin-top: 25px;
    font-size: 14px;
    text-align: center;
    background: #5863F8;
    transition: 1s ease ;
}
.read-more a {
    color: #ffff;
}
.read-more:hover {
    color: #ffff;
    transform: scale(1.2);
    transform: scale(1.2);
    transform: scale(1.2);
}
.imgs-box {
    max-width: 536px;
    width: 100%; 
}
.two-img-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.one-img-box {
    max-width: 536px;
    width: 100%;
}
/* section-1 end */

/* sextion-2 start */
.section-2 {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/111.png);
    background-position: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 1366px;
    width: 100%;
}
.text-mini-block {
    max-width: 1088px;
    width:100%;
    margin: 0 auto;
    
}
span {
    color: #FFFF;
}
.text-box {
    max-width: 380px;
    width: 100%;
}
.block-box {
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mini-bloks {
    width: 23%;
    height: 260px;
    background: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mini-bloks h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    
}
.mini-bloks p {
    font-size: 14px;
    text-align: center;
    color: #B1B1B1;
}
.zero {
    width: 59px;
    height: 58px;
    background-color: #5863F8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
/* sextion-2 end */

/* sec3 start */
.section-3 {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.big-size {
    max-width: 783px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.big-size p {
    max-width: 352px;
    width: 100%;
    height: 60px;
}
.text-box1 {
    max-width: 480px;
    width: 100%;
    
}
.text-box1 h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #5863F8;
    margin-bottom: 5px;
}
.text-box1 h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    margin-bottom: 10px;
}
.prof-img {
    max-width: 225px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 30px 0 20px 0;
}
.profile {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    background-image: url(../img/marius-ciocirlan-vMV6r4VRhJ8-unsplash.png);
}
/* sec3 end */
/* sect 4 start */
.section-4 {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}
.text-box-4 {
    max-width: 765px;
    width: 100%;
    height: 140px;
    padding-left: 139px;
    flex-direction: column;
}
.text-box-4 h2 {
    font-family: 'Poppins', sans-serif;
    color: #5863F8;
    font-size: 14px;
}
.text-box-4 h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
}
.img-box1 {
    max-width: 1366px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-box1 div {
    max-width: 352px;
    width: 100%;
    height: 352px;
}
/* sec4 end */

/* footer start */
.footer-bg {
    max-width: 1366px;
    width: 100%;
    height: 395px;
    background: #121212;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.footer-info {
    max-width: 1030px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color:#fff;
}
.footer-info :nth-child(1){
    max-width: 260px;
    width: 100%;
    flex-direction: column;
}
.footer-info :nth-child(2) a{
    color: #5863F8;
}
.footer-info :nth-child(3) a{
    color: #5863F8;
}
.footer-info :nth-child(4){
    max-width: 225px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.copy {
    margin: 0 auto;
    max-width: 559px;
    width: 100%;
    height: 20px;
    color: #ffff;
}
.copy span {
    font-family: 'Poppins', sans-serif;
    color: #5863F8;
}
.icon {
    max-width: 260px;
    width: 100%;
    font-size: 35px;
    display: flex;
    
}
.icon span {
    color: #3B5998;
}
.icon :nth-child(2){
    color: #55ACEE;
}
.icon :nth-child(3){
    color: #DC4E41;
}
.logo {
    font-size: 24px;
    color: #ffff;
}
.footer-block  p {
    padding: 20px 0 20px 0;
}
.footer-info  ul li a {
    color: #ffff;
}
.footer-info  ul li {
    padding-top: 10px;
}
.footer-info  div h3   {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}


